<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CPApplicationDelegateClass</key>
	<string>AppController</string>
	<key>CPBundleName</key>
	<string>NewApplication</string>
	<key>CPPrincipalClass</key>
	<string>CPApplication</string>
	<key>CPApplicationSize</key>
	<dict>
		<key>executable</key>
		<integer>1897349</integer>
		<key>data</key>
		<integer>662793</integer>
		<key>mhtml</key>
		<integer>62309</integer>
	</dict>
</dict>
</plist>
